html, body{
	height: 100%;
}
body, button, input, select, textarea {
	font-family: 'Rubik', sans-serif;
}

.section {
    padding: 1rem;
    height: 100%;
	background-color:white;
}

.container {
	height: 100%;
}

.columns{
	height: 100%;
}

.paddless-bottom {
	padding-bottom: 0!important;
}

/* spinner */

.spinner-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  z-index: 2;
  width:45px; 
  height:45px;
  margin: 100px auto;
  display:block;
  height: 70%;
}

.spinner-container .path {
	stroke-dasharray: 1,150; /* 1%, 101% circumference */
	stroke-dashoffset: 0;
	stroke: rgba(27, 154, 89, 0.7);
	stroke-linecap: round;
	-webkit-animation: dash 1.5s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite;
}

#upload-button {
	width: 150px;
	display: block;
	margin: 20px auto;
}

#file-to-upload {
	display: none;
}

#pdf-main-container {
	height: 100%;
/*	width: 400px;
	margin: 20px auto;*/
}

#pdf-loader {
	display: none;
}

#pdf-contents {
	height: 100%;
	display: none;
	text-align: center;
	position: relative;
}

#pdf-contents .page {
	margin: 0 5%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#pdf-contents .page ::-webkit-input-placeholder {
    color: #4f81bd;
}

#pdf-contents .page :-moz-placeholder {
   color: #4f81bd;
   opacity:  1;
}

#pdf-contents .page ::-moz-placeholder {
   color: #4f81bd;
   opacity:  1;
}

#pdf-contents .page :-ms-input-placeholder {
   color: #4f81bd;
}

#pdf-contents .page ::-ms-input-placeholder {
   color: #4f81bd;
}

#pdf-contents .page ::placeholder {
   color: #4f81bd;
}

#pdf-contents .page input,
#pdf-contents .page .select,
#pdf-contents .page textarea {
	position: absolute;
}

#pdf-contents .page input, 
#pdf-contents .page select,
#pdf-contents .page textarea {
	color: #4f81bd;
	border-width:4px;
	border-color: transparent;
	box-shadow: none;
	background-color: whitesmoke;
}

#pdf-contents .page select{
	padding-top: 5px;
}
#pdf-contents .page input:hover, 
#pdf-contents .page select:hover,
#pdf-contents .page textarea:hover {
	border-color: #4f81bd;
	box-shadow: inherit;
}

#pdf-contents .page input:focus, 
#pdf-contents .page select:focus,
#pdf-contents .page textarea:focus {
	background-color: #255691;
	color: white;
}

#pdf-actions {
	display: none;
}
#pdf-meta {
	overflow: hidden;
	margin: 0 0 10px 0;
}

#pdf-buttons {
	float: left;
}

#page-count-container {
	float: left;
}

#pdf-current-page {
	display: inline;
}

#pdf-total-pages {
	display: inline;
}

#pdf-canvas {
	/*width: 100%;*/

	height: 100%;
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
}

#page-loader {
	display: none;
}

#download-image {
	width: 150px;
	display: block;
	margin: 20px auto 0 auto;
	font-size: 13px;
	text-align: center;
}

@media screen and (max-width: 1440px) {
	.container {
		max-width: 900px;
	}
}


@keyframes rotate {
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes rotate{
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,150;  /* 1%, 101% circumference */
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -35;   /* 25% circumference */
  }
  100% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -124;  /* -99% circumference */
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,150;  /* 1%, 101% circumference */
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -35;   /* 25% circumference */
  }
  100% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -124;  /* -99% circumference */
  }
}

